body
{
    margin: 0;
    background-image: url(background.png);
    font-family: 'Ubuntu', sans-serif;
    background-attachment: fixed;
}

header
{
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 10px;
    color: #D13B56;
    text-shadow:
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        -1px 1px 0 #000;
}

nav {
    height: 55px;
    font-weight: 700;
    color: black;

}

nav a {
    display: block;
    float: left;
    font-size: 20px;
    border: 1px solid black;
    padding: 20px 10px 10px 10px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    background-color: coral;
}

nav a:hover {
    background-color: brown;
    color: white;
}

.add_question_form
{
    margin: auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #C9A9AF;
    -webkit-box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.75);
}

.div_with_text_input
{
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;   
    text-align: center;
}

.text_input
{
    width: 178px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
}

#submit_button
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    background-color: #2F9632;
    border: 1px solid #000;
    transition: all .3s ease-in-out;
    opacity: 0.8;
}

#submit_button:hover
{
    transform: scale(1.2);
    cursor: pointer;
    background-color: #36C23B;
    opacity: 1;
}

#div_with_selects
{
    text-align: center;
    margin-bottom: 40px;
}

#table_div
{
    display: flex;
    justify-content: center;
    width: 90%;
    position: center;
    margin: auto;
    }


#all_data_table
{
    font-size: 25px;
    background-color: rgba(201,169,175,0.5);
    -webkit-box-shadow: 0px 0px 77px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 77px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 77px 5px rgba(0,0,0,0.75);
}

#all_data_head_table
{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding: 15px;
}
.all_data_table_cell
{
    border: 1px solid #000;
}

.padding_class
{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;    
}

.block_link
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.edit_link
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#clock
{
    text-align: right;
    margin-top: 50px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #D13B56;
    letter-spacing: 5px;
    border-top: 1px dotted #000;
    text-shadow:
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        -1px 1px 0 #000;
}

.hovered_row
{
    background-color: #C48D97;
}

<<<<<<< HEAD
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: darkmagenta;}
a:active {text-decoration: none; color: green;}


.sort_label {
    font-family: sans-serif;
    font-size: 24px ;
    padding-left: 1.2em;
}

.sorting {
    display: inline;
    width: 200px;
    background-color: floralwhite;


}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid coral;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    white-space: pre-line;
    font-family: sans-serif;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: coral;
    border-radius: 15px;

}

.button:hover {
    background-color: brown;
    color: white;
}

.button:active, .submit_button:active {
    background-color: beige;
    transform: translateY(4px);
}
=======
#add_question_table
{
    width: 95%;
    padding: 10px;
}

.question_table_head
{
    font-size: 22px;
    width: 95%;
}

.add_question_table_first_table_row
{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    background-color: #C5E5F0;
}

.add_question_question_cell
{
    width: 300px;
    text-align: center; 
    font-size: 20px; 
    border-right: 1px dotted #000;
    
}

.answer_header
{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    background-color: #A2F2CE;
}

a:link {text-decoration: none; color: red;}
a:visited {text-decoration: none; color: red;}
a:hover {text-decoration: underline; color: #CC0000;}
a:active {text-decoration: none; color: green;}
>>>>>>> kacper
