{% extends "layout.html" %}
{% block title %} Add question {% endblock %}
{% block main %}
<header>
    <div style="text-align: center; margin-bottom: 20px; font-weight: 700;">

        <span style="font-size: 60px;">Add answer</span>


    </div>
</header>
<div class="div_with_text_input">
    <form action="/question/{{ question_id }}/new-answer" method="post">
        <section>

            <label>Answer: </label>
            <textarea name="message" class="text_input" cols="10" rows="5"
                      placeholder="Answer message goes here"></textarea>

        </section>

        <section>

            <label>Image: </label>
            <input type="url" name="image" class="text_input" placeholder="URL address goes here"
            />

        </section>
        <div style="text-align: center;">
            <input type="submit" id="submit_button"/>
        </div>
    </form>
</div>
{% endblock %}