{% extends "layout.html" %}
{% block title %}Question page{% endblock %}
{% block main %}
<table>
    <thead>
    <tr>
        <th>Time</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
        <th>Vote</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ single_question['submission_time']}}</td>
        <td>{{ single_question['title']}}</td>
        <td>{{ single_question['message']}}</td>
        {% if single_question['image'] %}
        <td><img src="{{ single_question['image']}}" width="300px" height="200px"></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
            <form action="/question/{{ single_question['id']}}" method="post">
                <button name="vote_button" type="submit" value="plus">+</button>
                Vote{{ single_question['vote_number']}}
                <button name="vote_button" type="submit" value="minus">-</button>
            </form>
        </td>
        <td><a href="/question/{{ single_question['id'] }}/new-answer">
            <button type="button">Add answer</button>
        </a></td>
        <td><a href="/question/{{ single_question['id'] }}/delete">
            <button type="button">Delete question</button>
        </a></td>
        <td><a href="/question/{{ single_question['id'] }}/edit">
            <button type="button">Edit question</button>
        </a></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Time</th>
        <th>Answer</th>
        <th>Image</th>
        <th>Vote</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for answer in all_answers %}
    <tr>
        <td>{{ answer['submission_time']}}</td>
        <td>{{ answer['message']}}</td>
        <td>{{ answer['image']}}</td>
        <td>{{ answer['vote']}}</td>
        <td><a href="/answer/{{answer['id']}}/delete">
            <button type="button">Delete answer</button>
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}