{% extends "layout.html" %}
{% block title %} List of questions {% endblock %}
{% block main %}

<form action="/list" method="get">Sort by:
    <label for="attribute">Name</label>
    <select id="attribute" name="attribute">
        <option>Time</option>
        <option>Title</option>
        <option>Views</option>
        <option>Vote</option>
    </select>
    <label for="order">Order</label>
    <select id="order" name="order">
        <option>Ascending</option>
        <option>Descending</option>
    </select>
    <button type="submit" value="Submit">Sort</button>
</form>

<table>
    <thead>
    <tr>
        <th>C.N</th>
        <th>Time</th>
        <th>Title</th>
        <th>View</th>
        <th>Vote</th>
    </tr>
    </thead>
    <tbody>
    {% for data in all_data %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ time }} UTC</td>
        <td><a href="/question/{{ data['id'] }}">{{ data["title"] }}</a></td>
        <td>{{ data["view_number"] }}</td>
        <td>{{ data["vote_number"] }}</td>
        <td><a href="/question/{{ data['id']}}/edit">Edit question</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}